html, body {
    background-color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    color: rgb(40, 40, 40);
    overflow-y: hidden;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.icon-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    width: 100%;
    height: calc((100vh - 6em) / 3);
    -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.icon.filled {
    
}

.icon.active {
    height: calc((100vh - 6em) / 2);
}

.icon path {
    fill: rgb(100, 100, 100);
    -webkit-transition: fill 300ms cubic-bezier(0.23, 1, 0.32, 1),
                        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: fill 300ms cubic-bezier(0.23, 1, 0.32, 1),
                transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    
    transform-origin: 50%;
}

.icon-improve path {
    transform: rotate(-30deg);    
}

.icon.inactive {
    pointer-events: none;
    /* opacity: 0; */
}

.icon-enjoy:hover path,
.icon-enjoy.active path {
    fill: rgba(243, 36, 0, 1);
}

.icon-improve:hover path,
.icon-improve.active path {
    fill: rgba(0, 192, 243, 1);
    transform: rotate(-40deg);
    transform-origin: 50%;
}

.icon-learn:hover path,
.icon-learn.active path {
    fill: rgba(250, 166, 26, 1);
}

.icon-learn.active {
    color: rgba(250, 166, 26, 1);
}

.icon-improve.active {
    transform: translateY(calc((100vh - 6.5em) / -3 ));
    color: rgba(0, 192, 243, 1);
}

.icon-learn.inactive {
    transform: scale(0);
}

.icon-improve.inactive {
    transform: translateY(calc((100vh - 6.5em) / -3 / 2)) scale(0);
}

.icon-enjoy.inactive {
    transform: translateY(calc((100vh - 6.5em) / -2.0)) scale(0);
}

.icon-enjoy.active {
    transform: translateY(calc(((100vh - 5.5em) / -3) * 2));
    color: rgba(237, 20, 90, 1);
}


.text-accent {
    color: rgba(237, 20, 90, 1);
    color: hsl(100, 60%, 50%);
}

.menu {
    position: absolute;
    top: 1.5em;
    right: 5%;
    height: 2em;
    width: 2em;
}

.menu svg {
    height: 2em;
    width: 2em;
}

.menu path {
    stroke: rgb(40, 40, 40);
    transition:         all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu:hover path {
    stroke: rgba(237, 20, 90, 1);
    stroke-width: 10px;
}

.content {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.comment-for-today {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: calc(49vh - 5em);

    background-color: white;
    will-change: transform;
    transform: translateY(60vh);
    opacity: 0;
    pointer-events: none;

    -webkit-transition: all 300ms 150ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:         all 300ms 150ms cubic-bezier(0.23, 1, 0.32, 1);
}

.comment-for-today.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.comment-for-today::before {
    content: ' ';
    width: 2em;
    height: 2em;
    display: block;
    background-color: rgb(230, 230, 230);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2.5em;
    transform: rotate(45deg);
    top: -0.5em;
    position: relative;
}

.comment-for-today .title {
    display: block;
    position: relative;
    box-sizing: border-box;
    color: rgb(100, 100, 100);
    padding: 0.5em 1em 0.5em;
    margin: 0.5em auto 0;
    text-align: center;
    background-color: rgb(230, 230, 230);
    z-index: 2;

}

.comment-for-today .comment {
    box-sizing: border-box;
    border: 1px solid rgb(230, 230, 230);
    height: 20vh;
    width: 100%;
    margin-top: 0;
    margin-bottom: -4px;
    padding: 0.5em;

    font-size: 200%;
    color: rgb(100, 100, 100);
}

.comment-for-today.active {
    opacity: 1;
    transform: translateY(0);
}

.btn {
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 33%;
    padding: 1em 2em;
    text-align: center;
    margin: 0;
    border: 0;
}

.btn-cancel {
    width: 35%;
    color: rgba(237, 20, 90, 1);
    background-color: white;
}

.btn-submit {
    width: 63%;
    background-color: hsl(100, 60%, 50%);
    font-size: medium;
}

.icon.unselect-action {
    transition-delay: 150ms;
}

.comment-for-today.unselect-action {
    transition-delay: 0ms;
}

.today {
    -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);§
}

.today.hidden {
    transform: translateX(100vw);
}

.history {
    position: relative;
    top: calc(5.3em - 100vh);
    -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.history.hidden {
    transform: translateX(-100vw);
}

