html, body {
    background-color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    color: rgb(40, 40, 40);
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    color: rgb(100, 100, 100);
    /*text-shadow: 0 6px 12px rgba(255, 255, 255, 0.5);*/
    /*background-color: rgba(0, 0, 0, 0.9);*/
    /*-webkit-background-clip: text;*/
       /*-moz-background-clip: text;*/
            /*background-clip: text;*/
}

.icon-big {
    font-size: 10rem;
}

.fa-rotate-45 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fa-heart:hover {
  color: rgba(237, 20, 90, 1);
}

.fa-arrow-up:hover {
  color: rgba(0, 192, 243, 1);
}

.fa-lightbulb-o:hover {
  color: rgba(250, 166, 26, 1);
}

.text-accent {
    color: rgba(237, 20, 90, 1);
}

.content {
    width: 90%vw;
    padding-left: 5%;
    padding-right: 5%;
}

.content .title {

}