html, body {
    background-color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    color: rgb(40, 40, 40);
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    color: rgb(100, 100, 100);
}

.icon-big {
    font-size: calc((100vh - 6em) / 3);
}

.fa-heart:hover {
    color: rgba(237, 20, 90, 1);
}

.fa-arrow-up:hover {
    color: rgba(0, 192, 243, 1);
}

.fa-lightbulb-o:hover {
    color: rgba(250, 166, 26, 1);
}

.text-accent {
    color: rgba(237, 20, 90, 1);
}

.menu {
    position: absolute;
    top: 1.5em;
    right: 5%;
    height: 2em;
    width: 2em;
}

.menu svg {
    height: 2em;
    width: 2em;
}

.menu path {
    stroke: rgb(40, 40, 40);
    -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:         all 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.menu:hover path {
    stroke: rgba(237, 20, 90, 1);
    stroke-width: 10px;
}

.content {
    width: 90%vw;
    padding-left: 5%;
    padding-right: 5%;
}

.comment_for_today {
    position: absolute;
    bottom: 1em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: calc(66vh - 6em);

    background-color: white;
}

.comment_for_today ::before {
    content: '';
    background-color: red;
    
}

.comment_for_today .title {
    background-color: grey;
}

.comment_for_today .comment {
    height: 66vh;
}